@use './scss/normalize';
@use './scss/variables';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  background: #4a4a4a;

  section {
    margin: 2rem 0;
    padding: 1rem 0;
    background: var(--secondary-color);
    border-radius: 30px;
  }

  .img {
    width: 100%;
    border-radius: 15px;
  }

  .link {
    color: var(--third-color);
    font-size: var(--medium-fontSize);
  }

  .title {
    font-size: var(--big-fontSize);
  }

  .text {
    font-size: var(--small-fontSize);
    margin: 1rem 0;
  }

  .container {
    padding: 0 1rem;
    width: 1280px;
    margin: 0 auto;
  }

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    margin: 1.4rem 0;

    &__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__title {
        font-size: var(--veryBig-fontSize);
      }
      &__nav__item {
        margin: 1rem;
      }
    }
  }

  .main {
    flex: 1 1 auto;
    .about {
      &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__photo {
          width: 25%;
          padding: 10px;
          flex-shrink: 0;
        }
      }
    }

    .projects {
      &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__item {
          width: 30%;
          padding: 10px;
          flex-shrink: 0;

          & img {
            height: 225px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  .contacts {
    &__inner {
      text-align: center;
      &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  .footer {
    &__inner {
      display: flex;
      justify-content: center;
    }
  }
}
