:root {
  --primary-color: #aaaaaa;
  --secondary-color: #414141;
  --third-color: #fdfdfd;

  --veryBig-fontSize: 2.6rem;
  --big-fontSize: 2rem;
  --medium-fontSize: 1.5rem;
  --small-fontSize: 1rem;
  --verySmall-fontSize: 0.8rem;
}
