:root {
  --primary-color: #58381f;
  --secondary-color: #ab8662;
  --third-color: #b4bfc6;

  --veryBig-fontSize: 2.8rem;
  --big-fontSize: 2.3rem;
  --medium-fontSize: 1.8rem;
  --small-fontSize: 1.5rem;
  --verySmall-fontSize: 1.2rem;
}
